<div class="center bg-gradient-primary">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 w-0100 flex align-center justify-center">
                <img class="w-0100 max-w-250" src="assets/logo-blanco.png" alt="logo de Haz Mas">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 w-0100 flex align-center pt-10 justify-center">
                <p class="color-w text-center">
                    HAZ MÁS amigos, HAZ MÁS eventos HAZ MÁS deporte
                </p>
            </div>
            <div class="col-xs-12 w-0100 flex align-center pt-10 justify-center">
                <span>
                    <img class="h-30 spin" src="assets/loader1.png" alt="loader1">
                </span>
                <p class="color-p m-0 pl-10">
                    Muy pronto en tu ciudad...
                </p>
            </div>

            <div class="col-xs-12 w-0100 flex align-center pt-20 justify-center">
                <a href="https://www.facebook.com/hazmasapp">
                    <img id="facebook" class="h-20" src="assets/facebook.svg" alt="facebook">
                </a>
                <a class="pl-30" href="https://twitter.com/HazMasapp">
                    <img id="facebook" class="h-20" src="assets/twitter.svg" alt="twitter">
                </a>
                <a class="pl-30" href="https://www.instagram.com/hazmasapp">
                    <img id="facebook" class="h-20" src="assets/instagram.svg" alt="instagram">
                </a>
            </div>

        </div>
    </div>
</div>